@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(52, 10%, 15%);
}

@theme {
  --font-noto-serif: "Noto Serif", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-description-primary: hsl(52, 94%, 94%);
  --color-description-secondary: hsl(52, 90%, 92%);
  --color-description-tertiary: hsl(52, 86%, 89%);
  --color-description-dark-primary: hsl(75, 6%, 87%);
  --color-description-dark-secondary: hsl(75, 6%, 85%);
  --color-description-dark-tertiary: hsl(75, 6%, 83%);
}
